.list {
    list-style: none;
}

:root {
    --accent-color:
}

body {
    font-family: "Roboto", sans-serif;
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    
}
.header{
    padding-top: 24px;
    padding-bottom: 25px;
}
.container{
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin:auto;
    align-items:center;
   }
   .section{
    padding-top: 94px;
    padding-bottom: 94px;
   }
    .header-container{
    display: flex;
    align-items: center;
}
.main-nav{
    display: flex;
    align-items: center;
    
}
.logo-header {

    font-family:var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--logo-second-color);
    text-decoration: none;
    margin-right: 93px;
    margin-left: 0;
    color: #2196F3;
}
    
 
.logo-color {
    color:var(--logo-accent-color);
}
.site-nav{
    list-style: none;
    display: flex;  
    align-items: center;
}

.auth-nav{
    display: flex;
}
.auth-nav .nav-item + .nav-item{
    margin-left: 50px;
}
.nav-item:not(:last-child) {
    margin-right: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
}
.link{
    text-decoration: none;
    color: var(--secondary-font-color);
    font-weight: 500px;
    line-height: 1.14;
}
.link.current {
    color: #2196F3;
    cursor: pointer;
    text-decoration: none;
}
.nav-item,:hover, .menu-link:focus {
    color:var(--link-hover-focus);
}
.auth-nav{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
}
.nav-item,:not(:first-child){
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    margin-left: 50px;
}

.nav-item,:hover,
 .nav-item,:focus {
    color:var(--link-hover-focus);
}

.mail-link-current {
    color: #2196F3;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

 /*End-Header*/

/*------*HERO*-------*/

.hero {
    text-align: center;
    background: #2F303A;
    padding-top: 200px ;
    padding-bottom: 200px;


}
.hero-container{

}

.hero-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 696px;
    margin-right: auto;margin-left: auto;
    margin-bottom: 30px;
}

.pop-up-button {
    font-style: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
  padding: 10px 32px;
  border-color: #020202;
}

.pop-up-button {
    display: inline-block;
}

/*------* END HERO*-------*/

/*-------*description*---------*/
.description-container{
    
}
.description-title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
}
.description-item{
    display: flex;
}


.description-list:not(:last-child){
    margin-right: 30px;
}
.description-list{
    width: 270px;

}
.description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    line-height: 1.7;
}

/*-------* End Description*---------*/

/*-------*What We Do*---------*/
.What-we-do{
padding-bottom: 94px;
}
.what-we-do-container{

}
.what-item{
    display: flex;
    list-style: none;
    margin-top: 50px;
}
.what-we-do-name {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.what-we-do-name{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

}

/*-------*End What We Do*---------*/

/*-------*Team*---------*/

.section-team {
    background: #F5F4FA;
}

.Team-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-item{
    display: flex;

}

.Name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* text-align: center;*/
    letter-spacing: 0.03em;
    color: #212121;
}

.specialty {
    font-size: 16px;
    line-height: 19px;
    /* text-align: center;*/
    letter-spacing: 0.03em;
    color: #757575;
}

/*-------*End team*---------*/

/*-------*Footer*---------*/

.footer {
    background: #2F303A;
}

.map {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
    /*color: #FFFFFF;*/
}

.mail-footer, .tel-footer {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.mail-footer:hover, .mail-footer:focus {
    color: #2196F3;
}

.logo-footer {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-color-footer {
    color: #FFFFFF;
}

/*-------*End Footer*---------*/

/*portfolio*/

/*HEADER*/

.header-logo {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-color {
    color: black;
}

.menu-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
}

.menu-link:hover, .menu-link:focus {
    color: #2196F3;
}

.menu-link.current {
    color: #2196F3;
    cursor: pointer;
    text-decoration: none;
}

.tel-link, .mail-lnk {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

.tel-link:hover, .tel-link:focus {
    color: #2196F3;
}

.contacts-mail:hover, .contacts-mail:focus {
    color: #2196F3;
}

.mail-link-current {
    color: #2196F3;
    cursor: pointer;
    text-decoration: none;
}

.contacts-tel:hover, .contacts-tel:focus {
    color: #2196F3;
}

/*End-Header*/

/*FILTER*/

.btn {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px;
  border-color: #2196f3;
}

.pop-up-btn {
    font-style: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #212121;
    background: #F5F4FA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  padding: 6px 22px;
  border-color: #F5F4FA;
}

.pop-up-btn:hover, .pop-up-btn:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}

/*END FILTER*/

/*PORTFOLIO*/

.project-name {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

.project-item {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

/*END PORTFOLIO*/

/*FOOTER*/

.footer {
    background: #2F303A;
}

.logo-footer {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-color-footer {
    color: #FFFFFF;
}

.mail-footer, .tel-footer {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/*END FOOTER*/
